/*------------------------------------*\
    $HEADER
\*------------------------------------*/


/**
 * Header
 */
.header{
  background-color: $base-color;
  @extend .cf;
  padding: 1em 0;
  margin-bottom: 2em;
}



/**
 * Site name and logo
 */
.site-title{
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  @extend .cf;

  a{
    display: block;
    width: 300px;
    height: auto;
    padding-bottom: 2%;
    background: transparent url('../images/logo.svg') center center no-repeat;
    background-size: 100%;
    text-indent: -9999px;
  }
}


/**
 * Main nav
 */
.main-nav{
  float: right;
  @extend .cf;
  padding-top: 15px;

  ul{
    margin: 0;
  }

  li{
    padding-left: 1.5em;
  }

  a{
    line-height: 1.5em;
    color: $base-ui-color;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-color .2s ease;

    &:hover{
      border-bottom: 2px solid $base-ui-color;
    }
  }
}
