/*------------------------------------*\
    $HOME
\*------------------------------------*/

.ungarh-slogan{
  line-height: 1.5;
  font-family: $alt-font-family;
  font-weight: normal;
  margin-bottom: 1.5em;
}

.jumbotron{
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 0 60px;
}

.jump-link{
  font-size: 10px;
  display: block;
  width: 5em;
  height: 5em;
  text-indent: -9999px;
  background: transparent url('../images/arrow.svg') center center no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}


/**
 * Pier
 */
.pier{
  display: block;
  background-color: $brand-color;
  margin-bottom: 3.5em;
}

.pier__inner{
  max-width: $desk-start;
  margin: 0 auto;
  padding: 4em 0;
}

.pier__card{
  background-color: #fff;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, .3);
  padding: 3em;

  &-title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1em;
  }
}

.pier__card{
  ul{
    margin: 0;
    @extend .nav;
    @extend .nav--stacked;
    @extend .nav--banner;
  }

  a{
    color: #505050;
    border-top: 1px solid #aaa;
    line-height: 3;
    text-transform: uppercase;
    font-family: $alt-font-family;

    &:hover{
      color: $brand-color;
    }
  }

  li:last-child{
    border-bottom: 1px solid #aaa;
  }
}




/**
 * News
 */
.news{
  text-align: center;
  margin-bottom: 4em;
}

.news-title{
  font-family: $base-font-family;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.news__inner{
  border: 5px solid $brand-color;
  padding: 3em;

  .post{
    margin-bottom: 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 5px solid #aaa;

    &:last-of-type{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .entry-title{
    font-weight: normal;

    a{
      color: $base-ui-color;

      &:hover{
        color: $brand-color;
      }
    }
  }

  .entry-summary{
    max-width: 700px;
    display: block;
    margin: 0 auto;
  }

  .entry-meta{
    color: #aaa;

    .byline,
    .updated{
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
    }

    .byline{
      margin: 0;

      a{
        color: #aaa;

        &:hover{
          color: $brand-color;
        }
      }
    }
  }
}
