<header class="header" role="banner">
  <div class="header__inner container">
    <h1 class="site-title">
      <a href="{{ function('home_url') }}" title="{{ site.title }}" rel="home">{{ site.title }}</a>
    </h1>
  </div>
</header>
